@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-section ">
    <div class="container text-center">
        <h1 class="display-4">Welcome to TechConnect!</h1>
        <p class="lead">Your one-stop shop for the latest phones and accessories.</p>
        <p>Explore our range of products and find the perfect phone for you. We offer a wide selection of the latest smartphones, from top brands to budget-friendly options.</p>
        <p>Check out our <a href="@Url.Action("Index", "Products")" class="btn btn-primary">Products</a> page to see what’s new or <a href="@Url.Action("Index", "Categories")" class="btn btn-secondary">Browse Categories</a> to find exactly what you’re looking for.</p>
    </div>
</div>



<!-- Advertisement Section -->
<div class="ad-section container mt-5">
    <div class="row">
        <!-- Phones Ad -->
        <div class="col-md-4 mb-4">
            <div class="ad-card text-center">
                <img src="/img/smartphone.jpg" class="img-fluid" alt="Phones">
                <div class="ad-content">
                    <h3>Smartphones</h3>
                    <p>Explore the latest smartphones with cutting-edge technology and innovative features.</p>
                    <a href="@Url.Action("Index", "Categories", new { id = 1 })" class="btn btn-primary">Shop Phones</a>
                </div>
            </div>
        </div>
        <!-- Laptops Ad -->
        <div class="col-md-4 mb-4">
            <div class="ad-card text-center">
                <img src="/img/lap.jpg" class="img-fluid" alt="Laptops">
                <div class="ad-content">
                    <h3>Laptops</h3>
                    <p>Find the perfect laptop for work, gaming, or study with top brands and specifications.</p>
                    <a href="@Url.Action("Index", "Categories", new { id = 2 })" class="btn btn-primary">Shop Laptops</a>
                </div>
            </div>
        </div>
        <!-- Watches Ad -->
        <div class="col-md-4 mb-4">
            <div class="ad-card text-center">
                <img src="/img/wd.webp" class="img-fluid" alt="Watches">
                <div class="ad-content">
                    <h3>Watches</h3>
                    <p>Discover stylish and functional watches for every occasion and preference.</p>
                    <a href="@Url.Action("Index", "Categories", new { id = 3 })" class="btn btn-primary">Shop Watches</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Phones Card Section -->
<div class="phone-card-section container mt-5">

    <h3>
        <span class="btn-outline-success">Smartphones</span>
    </h3>
    <div class="row">
        <!-- Phone Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/iphone1.jpg" class="card-img-top" alt="Phone 1">
                <div class="card-body">
                    <h5 class="card-title"> iPhone 15 Pro Max </h5>
                    <p class="card-text"> R42 799</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="1" />
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Phone Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/iphone2.jpg" class="card-img-top" alt="Phone 2">
                <div class="card-body">
                    <h5 class="card-title">iPhone 14 Pro Max 128GB</h5>
                    <p class="card-text"> R 28,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="2" />
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Phone Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/Samsung Galaxy A92.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy A92</h5>
                    <p class="card-text"> R5,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Phone Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/Samsung Galaxy F44.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy F44</h5>
                    <p class="card-text"> R7,399.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>



        <!-- Phone Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/Vivo Y27s (Vodacom).jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">Vivo Y27s (Vodacom)</h5>
                    <p class="card-text"> R4,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/Samsung Galaxy A74 pro.jpg" class="card-img-top" alt="Samsung Galaxy A04">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy A74 pro</h5>
                    <p class="card-text">R2,299.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- laptops Card Section -->
<div class="phone-card-section container mt-5">
    <h3>
        <span class="btn-outline-warning">Laptops</span>
    </h3>
    <div class="row">
        <!-- Phone Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/laptop1.jpg" class="card-img-top" alt="Phone 1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo IdeaPad 2 </h5>
                    <p class="card-text"> R42 799</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="1" />
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Phone Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/laptop2.jpg" class="card-img-top" alt="Phone 2">
                <div class="card-body">
                    <h5 class="card-title">Lenovo IdeaPad 15IAU7 </h5>
                    <p class="card-text">R10 500</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="2" />
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Phone Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/laptop3.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy Book Intel Core i5 with Windows 11 Home 15.6 Inch Laptop 8GB RAM 256GB Storage Wi-Fi Mystic Silver (UK Version)</h5>
                    <p class="card-text"> R7,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Phone Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/laptop4.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy Book Pro 360 15.6-in Touchscreen Laptop Computer - 2.8GHz i7, 1TB SSD, 16GB RAM - Mystic Navy NP950QDB-KB3US</h5>
                    <p class="card-text"> R7,399.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>



        <!-- Phone Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/laptop5.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">LG gram 17” Lightweight Laptop, Intel 13th Gen Core i7 Evo Platform, Windows 11 Home, NVIDIA RTX3050 4GB GPU, 32GB RAM, 2TB SSD, Black</h5>
                    <p class="card-text"> R4,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/laptop6.jpg" class="card-img-top" alt="Samsung Galaxy A04">
                <div class="card-body">
                    <h5 class="card-title">HP 17 Business Laptop 2024 Flagship, 17.3" FHD IPS Display, 6-Core Intel i3-1215U (Upto 4.4 GHz), 12GB RAM 256GB SSD, UHD Graphics Wi-Fi Privacy Camera, Long Battery, Windows 11 Pro</h5>
                    <p class="card-text">R2,299.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Phones Card Section -->
<div class="phone-card-section container mt-5">

    <h3>
        <span class="btn-outline-primary">  Smart watch</span>
    </h3>
    <div class="row">
        <!-- Phone Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/w1.jpg" class="card-img-top" alt="Phone 1">
                <div class="card-body">
                    <h5 class="card-title"> Curve Smart Watch for Men Women (Answer/Make Call), 2.01" Fitness Tracker with 120+ Sport Modes Heart Rate Sleep Blood Oxygen Monitor, IP68 Waterproof Fitness Watch for Android iOS, Black </h5>
                    <p class="card-text"> R42 799</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="1" />
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Phone Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/w2.jpg" class="card-img-top" alt="Phone 2">
                <div class="card-body">
                    <h5 class="card-title">Smart Watch, 1.91"Smartwatch for Men Women (Answer/Make Call), Fitness Tracker with 100+ Sport Modes, IP68 Waterproof, Heart Rate/Sleep Monitor, Spo2, Pedometer, Activity Tracker for Android iOS</h5>
                    <p class="card-text"> R 28,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="2" />
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Phone Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/w3.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">SAMSUNG Galaxy Watch 6 44mm Bluetooth Smartwatch, Fitness Tracker, Personalized HR Zones, Advanced Sleep Coaching, Heart Monitor, BIA Sensor for Health Wellness Insights, Big Screen, US Version Silver</h5>
                    <p class="card-text"> R5,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Phone Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/w4.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">SAMSUNG Galaxy Watch 6 44mm Bluetooth Smartwatch, Fitness Tracker, Personalized HR Zones, Advanced Sleep Coaching, Heart Monitor, BIA Sensor for Health Wellness Insights, Big Screen, US Version Silver</h5>
                    <p class="card-text"> R7,399.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>



        <!-- Phone Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/w5.jpg" class="card-img-top" alt="Phone 3">
                <div class="card-body">
                    <h5 class="card-title">Amazfit GTR 3 Pro Smart Watch 46mm for Men,12-Day Battery Life, Alexa Built-in, Bluetooth Call & Text, GPS & 150 Sports Modes, AMOLED Display, Fitness Watch with SpO2 Heart Rate Tracker, Black</h5>
                    <p class="card-text"> R4,999.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/img/w6.jpg" class="card-img-top" alt="Samsung Galaxy A04">
                <div class="card-body">
                    <h5 class="card-title">Smart Watch, Fitness Tracker with Heart Rate Monitor, Blood Oxygen, Sleep Tracking, 1.5 Inch Touchscreen Smartwatch for Android iOS Swimming Waterproof Pedometer Step Calories Tracker for Women Men</h5>
                    <p class="card-text">R3,299.00</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="3" />
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i>  </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>